body {
  padding: 0;
  font-family: sans-serif;
  background-color: lightslategray;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

#root {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;

}

.horizontal-line {
  border: 2px solid yellow;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.card {
  display: inline-block;
  text-align: center;
  margin: 30px;
  padding: 20px;
  width: 120px;
  height: 180px;
  font-size: 20px;
  background-color: white;
  border: solid 2px black;
}

.card-selected {
  display: inline-block;
  text-align: center;
  margin: 30px;
  padding: 20px;
  width: 120px;
  height: 180px;
  font-size: 20px;
  background-color: palevioletred;
  border: solid 2px black;
}

#casino-name {
  text-align: center;
  margin: 0px;
  height: auto;
}

.icon {
  font-size: 24px;
  padding: 5px;
}

.black {
  color: black;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.diamonds {
  color: red;
}

.hearts {
  color: red;
}

.clubs {
  color: black;
}

.spades {
  color: black;
}

#pay-table {
  background-color: lightslategray;
  color: lightskyblue;
  text-align: right;
  font-weight: bold;
  padding: 0px;
  flex: 50%;
}

.hidden {
  visibility: hidden;
}

.paytable-selected {
  background-color: darkgreen;
  color: yellow;
}

.paytable-not-selected {
  color: darkkhaki;
}

.paytable-hand-name {
  text-align: left;
}

#hand-result {
  color: yellow;
  font-size: 24px;
  font-weight: bold;
  /* float: center; */
  flex: 50%;
}

#the-hand {
  text-align: center;
  height: 300px;
}

.discard-btn {
  font-size: 24px;
  border: 2px yellow;
  background-color: red;
  color: yellow;
  margin: 0 auto;
  display: block;
}

.discard-btn-selected {
  font-size: 24px;
  border: 2px yellow;
  background-color: blue;
  color: yellow;
  margin: 0 auto;
  display: block;
}

.discard-btn-disabled {
  font-size: 24px;
  border: 2px yellow;
  background-color: gray;
  color: yellow;
  margin: 5px;
}

#help-btn {
  background-color: white;
  color: black;
  font-size: 24px;
}

#strategy-btn {
  background-color: orange;
  color: black;
  font-size: 24px;
}

.bet-one-btn {
  background-color: darkgreen;
  color: black;
  font-size: 24px;
}

.bet-one-btn-disabled {
  background-color: gray;
  color: black;
  font-size: 24px;
}

#bet-amount {
  color: yellow;
  font-size: 24px;
  font-weight: bold;
  /* width: 150px; */
}

.draw-btn {
  background-color: red;
  color: black;
  font-size: 24px;
  width: 100px;
}

.draw-btn-selected {
  background-color: pink;
  color: black;
  font-size: 24px;
  width: 100px;
}

#bankroll {
  color: yellow;
  font-size: 24px;
  font-weight: bold;
}

.close-modal-button {
  background-color: red;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.playing-card {
  margin: 30px;
  padding: 0px;
  width: 100px;
  height: 160px;
  background-color: white;
  display: inline-block;
  text-align: center;
}

#buttons {
  margin: 10px 0px 20px 0px;
}
